body{   
  height: 500px;
  background-image: url("../imagenes/fondo.jpg");
  background-repeat:no-repeat;
  background-position-x:center;
  background-position-y:center;
  background-size: 90rem;
}

h1{
    text-align: center;
    color:rgb(241, 105, 56); 
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div{
    text-align: center;
}


.mensaje{
    text-shadow: rgb(247, 144, 97) 0.1em 0.1em 0.2em;
    text-align: center;
    color:rgb(36, 36, 36);
    font-size: 65px;
    font-family:cursive;    
}

h5{
    color:orangered;
}

.imagenes{
    text-align: center;
    width: 250px;
    height: 200px;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.contenedor2{
    display: flex;
    justify-content: center;   
}

p{
    text-align: justify;
    color:rgb(10, 10, 10);
    font-size: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


